:root {
  --clr-primary-100: hsl(216, 70%, 92%, 100%);
  --clr-primary-400: hsl(216, 100%, 64%, 100%);
  --clr-primary-500: hsl(216, 95%, 53%, 100%);

  --clr-neutral-100: hsl(0, 0%, 100%, 100%);
  --clr-neutral-150: hsl(0, 0%, 98%, 100%);
  --clr-neutral-200: hsl(0, 0%, 96%, 100%);
  --clr-neutral-225: hsl(240, 10%, 96%, 100%);
  --clr-neutral-250: hsl(220, 13%, 91%, 100%);
  --clr-neutral-300: hsl(225, 6%, 88%, 100%);
  --clr-neutral-400: hsl(189, 6%, 75%, 100%);
  --clr-neutral-500: hsl(191, 6%, 75%, 100%);
  --clr-neutral-600: hsl(225, 3%, 29%, 100%);
  --clr-neutral-900: hsl(240, 7%, 8%, 100%);

  --clr-divider-dark: hsl(0, 0%, 29%, 100%);
  --clr-divider-light: hsl(240, 7%, 92%, 100%);

  --ff-primary: 'Poppins', sans-serif;

  --fw-regular: 300;
  --fw-medium: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-100: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 2.25rem;

  --fs-button: var(--fs-400);
  --fs-testimonial-quote: var(--fs-400);
  --fs-testimonial-author: var(--fs-400);
  --fs-plan-month: var(--fs-400);
}

@media (min-width: 1000px) {
  :root {
    --fs-100: 0.875rem;
    --fs-800: 3rem;
    --fs-button: var(--fs-500);
    --fs-testimonial-quote: var(--fs-600);
    --fs-testimonial-author: var(--fs-500);
    --fs-plan-month: var(--fs-600);
  }
}

/* * {
  outline: 1px solid purple;
} */

/* Stop Animations During Window Resizing (for mobile navigation) */

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/* screen reader only */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-900);
  /* overflow-x: hidden; */
}

/* NAVIGATION */

.nav-wrapper {
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
}

.primary-navigation {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.5rem;
}

.primary-navigation li a {
  font-weight: var(--fw-medium);
  text-decoration: none;
  color: var(--clr-neutral-900);
}

.primary-navigation li a:hover {
  color: var(--clr-primary-500);
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 650px) {
  body.active-nav {
    overflow: hidden;
  }

  .nav-wrapper {
    padding-block: 1.25rem;
  }

  .mobile-nav-toggle {
    display: block;
    width: 40px;
    aspect-ratio: 1;
    border: 0;
    border-radius: 12px;
    cursor: pointer;
    z-index: 100;
  }

  .primary-navigation {
    flex-direction: column;
    justify-content: center;
    gap: 3.5rem;
    position: fixed;
    z-index: 50;
    inset: 0;
    /* padding: min(30vh, 6rem) 2em; */
    min-height: 100vh;
    background-color: var(--clr-neutral-200);
    transform: translateY(-100%);
    transition: transform 400ms ease-out;
  }

  .primary-navigation[data-visible='true'] {
    transform: translateY(0%);
  }

  .primary-navigation li a {
    font-size: var(--fs-600);
  }

  .primary-header button[data-role='login'] {
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
    font-size: var(--fs-600);
  }

  .primary-header button[data-role='login']:hover {
    background-color: var(--clr-primary-500);
  }

  .bar1,
  .bar2 {
    width: 1.25rem;
    height: 2px;
    background-color: #333;
    margin: 4px auto;
    transition: 0.4s;
  }

  .mobile-nav-toggle[aria-expanded='true'] .bar1 {
    transform: rotate(-45deg) translate(-2px, 3px);
  }

  .mobile-nav-toggle[aria-expanded='true'] .bar2 {
    transform: rotate(45deg) translate(-1px, -3px);
  }
}

/* HERO SECTION */

.hero-section {
  isolation: isolate;
  padding-block: 3.5rem 2rem;
  text-align: center;
}

.hero-section__content {
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.hero-section .primary-heading {
  font-size: clamp(var(--fs-900), 1.696rem + 2.954vw, 4rem);
  font-weight: var(--fw-medium);
  line-height: 1.1;
  max-width: 23ch;
}

.hero-section p:first-of-type {
  margin-block: 1rem 2rem;
  font-weight: var(--fw-regular);
  font-size: var(--fs-500);
  line-height: 1.6;
  max-width: 47ch;
}

.hero-section .btn-wrapper {
  gap: 1rem;
}

.hero-section .btn-wrapper button[data-icon='camera'] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.hero-section .btn-wrapper button[data-icon='camera'] .camera-icon {
  width: 18px;
  height: 21px;
  stroke: var(--clr-neutral-900);
}

.hero-section .btn-wrapper button[data-icon='camera']:hover .camera-icon {
  stroke: var(--clr-neutral-100);
}

.hero-section__image {
  margin-top: 3.75rem;
}

@media (max-width: 450px) {
  .hero-section .btn-wrapper {
    gap: 1.1875rem;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 700px) {
  .hero-section__image {
    margin-top: 3.75rem;
  }
}

@media (min-width: 1000px) {
  .hero-section {
    text-align: left;
    padding-block: 4.5rem;
  }

  .hero-section__content {
    align-items: flex-start;
  }

  .hero-section p:first-of-type {
    font-size: var(--fs-600);
    margin-block: 1.5rem 2.5rem;
  }

  .hero-section__image {
    margin-top: -9rem;
  }
}

/* VIDEO SECTION */

.video-section {
  padding-top: 4rem;
}

.video-section__content {
  flex-direction: column;
  align-items: center;
}

.video-section .secondary-heading {
  text-align: center;
  max-width: 25ch;
}

.video-section__video {
  margin-block: 2.5rem;
}

@media (max-width: 450px) {
  .video-section button {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .video-section {
    padding-top: 6rem;
  }

  .video-section__video {
    margin-block: 2.75rem 4rem;
  }
}

/* TESTIMONIALS SECTION */

.testimonials-section {
  padding-bottom: 4rem;
}

.testimonials-section .secondary-heading {
  max-width: 27ch;
}

.testimonials-section .testimonials-wrapper {
  margin-top: 2.5rem;
  gap: 2rem;
}

.testimonials-section .testimonials-wrapper::-webkit-scrollbar {
  display: none;
}

.testimonials-section .testimonial {
  background-color: var(--clr-neutral-150);
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}

.testimonials-section .testimonial blockquote {
  font-size: var(--fs-testimonial-quote);
  margin-bottom: 1.25rem;
}

.testimonials-section .quote-author {
  font-size: var(--fs-testimonial-author);
  font-weight: var(--fw-medium);
}

@media (min-width: 550px) {
  .testimonials-section .testimonials-wrapper {
    grid-template-columns: repeat(4, 405px);
    gap: 1.5rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    margin-top: 4rem;
    cursor: grab;
  }

  .testimonials-section .testimonial {
    padding: 2.5rem;
    height: fit-content;
    scroll-snap-align: start;
  }

  .testimonials-section .testimonial blockquote {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1000px) {
  .testimonials-section {
    padding-bottom: 6rem;
  }
}

/* PRICING SECTION */

.pricing-section {
  padding-top: 4rem;
}

.pricing-section .pricing {
  justify-content: center;
  gap: 3.25rem;
  padding-block: 2.5rem 2rem;
}

.pricing-section .secondary-heading {
  margin-bottom: 1rem;
}

.pricing-section .pricing-section__desc {
  line-height: 1.6;
  color: var(--clr-neutral-600);
}

.pricing-section .pricing .plan {
  --_background: var(--background, var(--clr-neutral-900));
  --_color: var(--color, var(--clr-neutral-100));

  max-width: 400px;
  background-color: var(--_background);
  color: var(--_color);
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
}

.pricing-section .pricing .plan > *:not(:first-child):not(.divider) {
  margin-top: 2rem;
}

.pricing-section .pricing .plan.plan__simple {
  --background: var(--clr-neutral-150);
  --color: var(--clr-neutral-900);
}

.pricing-section .pricing .plan.plan__premium {
  --background: var(--clr-neutral-900);
  --color: var(--clr-neutral-100);
}

.pricing-section .pricing .plan .plan__title {
  font-size: var(--fs-700);
  font-weight: var(--fw-medium);
  letter-spacing: -1px;
}

.pricing-section .pricing .plan__description {
  max-width: 30ch;
}

.pricing-section .pricing .plan.plan__simple .plan__description {
  color: var(--clr-neutral-600);
}

.pricing-section .pricing .plan.plan__premium .plan__description {
  color: var(--clr-neutral-250);
}

.pricing-section .pricing .plan .plan__price {
  align-items: baseline;
}

.pricing-section .pricing .plan .plan__price p[data-type='price'] {
  font-size: var(--fs-700);
  font-weight: var(--fw-medium);
  margin-right: 0.3125rem;
  letter-spacing: -1px;
}

.pricing-section .pricing .plan .plan__price .hidden {
  display: none;
}

.pricing-section .pricing .plan p[data-payment='free'] {
  font-size: var(--fs-100);
}

.pricing-section .pricing .plan p[data-payment='per month'] {
  font-size: var(--fs-plan-month);
  letter-spacing: -1px;
}

.pricing-section .pricing .plan .divider {
  margin-top: 2rem;
}

.pricing-section .pricing .plan .plan__list {
  max-width: 26ch;
}

.pricing-section .pricing .plan ul {
  list-style: none;
  line-height: 1.6;
}

.pricing-section .pricing .plan ul li {
  margin-top: 0.75rem;
}

.pricing-section .pricing .plan ul li[data-icon='check-light']::before {
  content: url(../images/checkmark-dark.svg);
  margin-right: 0.75rem;
}

.pricing-section .pricing .plan ul li[data-icon='check-dark']::before {
  content: url(../images/checkmark-light.svg);
  margin-right: 0.75rem;
}

.pricing-section .pricing .plan button {
  width: 100%;
}

.pricing-section .pricing-section__footer {
  margin-top: 1rem;
}

.pricing-section .view-features {
  font-weight: var(--fw-semi-bold);
  text-decoration: none;
  color: var(--clr-neutral-900);
  margin-top: 1rem;
}

.pricing-section .view-features:hover {
  color: var(--clr-primary-500);
}

.pricing-section .view-features:hover .arrow-icon {
  stroke: var(--clr-primary-500);
  transform: rotate(-90deg);
}

.pricing-section .arrow-icon {
  display: inline-flex;
  stroke: var(--clr-neutral-900);
  width: 1rem;
  aspect-ratio: 1;
  transition: transform 0.2s ease;
}

@media (min-width: 1000px) {
  .pricing-section .pricing-section__desc {
    color: var(--clr-neutral-900);
  }

  .pricing-section .pricing {
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
    align-items: center;
    padding-block: 4rem 3rem;
  }

  .pricing-section .pricing .plan {
    padding: 3.5rem;
  }

  .pricing-section .pricing .plan .plan__title {
    margin-bottom: 1rem;
  }

  .pricing-section .pricing .plan .plan__price .hidden {
    display: block;
  }
}

/* section divider */

.section-divider[data-type='light'] {
  margin-top: 4rem;
}

/* FAQ SECTION */

.faq-section {
  padding-block: 4rem;
}

.faq-section .secondary-heading[data-lenght='full-text'] {
  display: none;
}

.faq-section .tabs {
  display: inline-flex;
  gap: 0.25rem;
  list-style: none;
  background-color: var(--clr-neutral-225);
  margin-block: 1.5rem 2.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.faq-section .tabs .tab {
  font-weight: var(--fw-medium);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.faq-section .tabs .tab.active {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}

.faq-section .tabs .tab:not(.active):hover {
  background-color: var(--clr-primary-100);
}

.faq-section .faq-content {
  margin-inline: auto;
  max-width: 824px;
}

.faq-section .faq-content .faq-group:not(:first-child) {
  margin-top: 20px;
}

.faq-section .faq-content .faq-question {
  gap: 0.75rem;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  cursor: pointer;
}

.faq-section .faq-content .faq-question h4 {
  font-size: var(--fs-500);
  font-weight: var(--fw-regular);
  letter-spacing: -1px;
  max-width: 55ch;
}

.faq-section .faq-content .faq-answer {
  display: none;
  padding-block: 0.5rem 0;
  color: var(--clr-neutral-600);
}

.faq-section .faq-content .faq-answer p {
  font-size: var(--fs-400);
  color: var(--clr-neutral-600);
  max-width: 70ch;
}

.faq-section .faq-content .faq-group .divider {
  margin-top: 1.25rem;
}

.faq-group .faq-answer.open {
  display: block;
}

@media (min-width: 1000px) {
  .faq-section {
    padding-block: 4.5rem 6rem;
  }

  .faq-section .secondary-heading[data-lenght='short-text'] {
    display: none;
  }

  .faq-section .secondary-heading[data-lenght='full-text'] {
    display: block;
  }

  .faq-section .tabs {
    gap: 0.5rem;
    padding: 0.5rem 0.8125rem 0.5rem 0.5rem;
    margin-block: 2.5625rem 6.9375rem;
  }

  .faq-section .tabs .tab {
    padding: 0.75rem 1.5rem;
  }

  .faq-section .faq-content .faq-question h4 {
    font-size: var(--fs-600);
  }

  .faq-section .faq-content .faq-answer {
    padding-block: 1rem 1.25rem;
  }

  .faq-section .faq-content .faq-group .divider {
    margin-top: 1.5rem;
  }
}

/* FOOTER */

.primary-footer {
  padding-block: 4rem 1.5rem;
}

.primary-footer .primary-footer__content {
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 1.5rem;
}

.primary-footer .newsletter {
  background-color: var(--clr-neutral-225);
  max-width: 405px;
  padding: 1.5rem;
  border-radius: 1rem;
}

.primary-footer .newsletter .newsletter__title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-500);
  margin-bottom: 0.25rem;
}

.primary-footer .newsletter .newsletter__desc {
  max-width: 90%;
  margin-bottom: 1.25rem;
}

.primary-footer .newsletter .primary-footer__form {
  gap: 8px;
}

.primary-footer .newsletter .primary-footer__form input {
  border: none;
  color: var(--clr-neutral-600);
  min-width: 0;
  border-radius: 0.5rem;
  padding-left: 0.75rem;
  outline: 2px solid var(--clr-neutral-300);
}

.primary-footer .newsletter .primary-footer__form input:hover {
  outline: 2px solid var(--clr-neutral-400);
}

.primary-footer .newsletter .primary-footer__form input:focus {
  outline: 2px solid var(--clr-primary-400);
}

.primary-footer .primary-footer__content .primary-footer__links h5 {
  color: var(--clr-neutral-300);
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-500);
  margin-bottom: 1.25rem;
  line-height: 1.2;
}

.primary-footer .primary-footer__content .primary-footer__links {
  column-gap: 4.375rem;
  row-gap: 2.5rem;
  flex-wrap: wrap;
}

.primary-footer ul {
  list-style: none;
}

.primary-footer
  .primary-footer__content
  .primary-footer__links
  li:not(:first-child) {
  margin-top: 1rem;
}

.primary-footer .primary-footer__content .primary-footer__links li {
  color: var(--clr-neutral-400);
  font-weight: var(--fw-regular);
}

.primary-footer .primary-footer__content .primary-footer__links a {
  text-decoration: none;
  color: var(--clr-neutral-400);
}

.primary-footer .primary-footer__content .primary-footer__links a:hover {
  text-decoration: none;
  color: var(--clr-neutral-300);
}

.primary-footer .social-list {
  gap: 1rem;
  margin-top: 4rem;
}

.primary-footer .copyright {
  margin-top: 1.5rem;
  color: var(--clr-neutral-400);
  font-size: var(--fs-100);
}

@media (min-width: 600px) {
  .primary-footer .primary-footer__content .primary-footer__links {
    margin-right: 0;
  }
}

@media (min-width: 1000px) {
  .primary-footer .primary-footer__content {
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    margin-top: 2.625rem;
  }

  .primary-footer .primary-footer__content .primary-footer__links {
    flex-wrap: nowrap;
    margin-right: 9rem;
  }

  .primary-footer .social-list {
    margin-top: 2.5rem;
  }

  .primary-footer .copyright {
    margin-top: 4rem;
  }
}

/* UTILITY CLASSES */

.container {
  width: min(1248px, 100% - (1rem * 2));
  margin-inline: auto;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

/* DIVIDERS */

.divider-wrapper {
  background-color: var(--clr-neutral-900);
  padding-block: 4rem;
}

.divider {
  width: 100%;
  height: 1px;
}

.divider[data-type='dark'] {
  background-color: var(--clr-divider-dark);
}

.divider[data-type='light'] {
  background-color: var(--clr-divider-light);
}

@media (min-width: 1000px) {
  .divider-wrapper {
    padding-block: 6rem;
  }
}

/* Buttons */

.btn {
  border: none;
  cursor: pointer;
  font-weight: var(--fw-medium);
}

.primary-btn {
  font-size: var(--fs-button);
  color: var(--clr-neutral-100);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.primary-btn-sm {
  border-radius: 0.5rem;
  color: var(--clr-neutral-100);
  padding: 0.75rem 1.25rem;
}

.primary-btn:hover,
.primary-btn-sm:hover {
  background-color: var(--clr-primary-500);
}

.secondary-btn {
  color: var(--clr-neutral-900);
  font-size: var(--fs-button);
  background-color: var(--clr-neutral-200);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.secondary-btn-sm {
  background-color: var(--clr-neutral-200);
  border-radius: 0.75rem;
  padding: 0.75rem 1.5rem;
  color: var(--clr-neutral-900);
}

.secondary-btn:hover,
.secondary-btn-sm:hover {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}

/* Backgrounds */

.bg-light {
  background-color: var(--clr-neutral-100);
}

.bg-dark {
  background-color: var(--clr-neutral-900);
}

.bg-blue {
  background-color: var(--clr-primary-400);
}

.secondary-heading {
  font-size: var(--fs-800);
  font-weight: var(--fw-medium);
}

.secondary-heading[data-clr='white'] {
  color: var(--clr-neutral-100);
  line-height: 1.2;
  font-weight: var(--fw-medium);
}

@media (min-width: 1000px) {
  .primary-heading {
    letter-spacing: -1px;
  }

  .secondary-heading {
    letter-spacing: -3px;
  }
  .secondary-heading[data-clr='white'] {
    letter-spacing: -1px;
  }
}

.text-center {
  text-align: center;
}

.italic {
  font-style: italic;
}
