:root {
  --clr-primary-100: hsl(216, 70%, 92%, 100%);
  --clr-primary-400: hsl(216, 100%, 64%, 100%);
  --clr-primary-500: hsl(216, 95%, 53%, 100%);

  --clr-neutral-100: hsl(0, 0%, 100%, 100%);
  --clr-neutral-200: hsl(0, 0%, 96%, 100%);
  --clr-neutral-300: hsl(225, 6%, 88%, 100%);
  --clr-neutral-400: hsl(189, 6%, 75%, 100%);
  --clr-neutral-500: hsl(191, 6%, 75%, 100%);
  --clr-neutral-600: hsl(225, 3%, 29%, 100%);
  --clr-neutral-900: hsl(240, 7%, 8%, 100%);

  --clr-divider-dark: hsl(0, 0%, 29%, 100%);
  --clr-divider-light: hsl(240, 7%, 92%, 100%);

  --ff-primary: 'Poppins', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.75rem;
  --fs-800: 2rem;
  --fs-900: 2.25rem;

  --fs-button: var(--fs-400);
  --fs-testimonial-quote: var(--fs-400);
  --fs-testimonial-author: var(--fs-400);
  --fs-plan-month: var(--fs-400);
  --fs-accordion-question: var(--fs-500);
}

@media (min-width: 1000px) {
  :root {
    --fs-800: 3rem;
    --fs-button: var(--fs-500);
    --fs-testimonial-quote: var(--fs-600);
    --fs-testimonial-author: var(--fs-500);
    --fs-plan-month: var(--fs-600);
    --fs-accordion-question: var(--fs-600);
  }
}

/* * {
  outline: 1px solid purple;
} */

body {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-900);
}

/* NAVIGATION */

.nav-wrapper {
  justify-content: space-between;
  align-items: center;
  padding-block: 1.25rem;
}

.primary-navigation {
  align-items: center;
  list-style: none;
  gap: 2.5rem;
}

.primary-navigation li a {
  text-decoration: none;
  color: var(--clr-neutral-900);
}

.primary-navigation li a:hover {
  color: var(--clr-primary-500);
}

/* HERO SECTION */

.hero-section {
  padding-block: 3.5rem 2rem;

  text-align: center;
}

.hero-section__content {
  flex-direction: column;
  align-items: center;
}

.hero-section .primary-heading {
  font-size: clamp(var(--fs-900), 1.696rem + 2.954vw, 4rem);
  font-weight: var(--fw-regular);
  line-height: 1.1;
  max-width: 23ch;
}

.hero-section p:first-of-type {
  margin-block: 1rem 2rem;
  font-size: var(--fs-500);
  line-height: 1.6;
  max-width: 47ch;
}

.hero-section .btn-wrapper {
  gap: 1rem;
}

.hero-section .btn-wrapper button[data-icon='camera'] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.hero-section .btn-wrapper button[data-icon='camera']::before {
  content: '';
  background-image: url(../images/book-a-demo-icon.svg);
  width: 18px;
  height: 22px;
}

.hero-section__image {
  justify-content: center;
  /* margin-top: -9rem; */
}

@media (max-width: 450px) {
  .hero-section .btn-wrapper {
    gap: 1.1875rem;
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .hero-section__image {
    margin-top: 3.75rem;
  }
}

@media (min-width: 1000px) {
  .hero-section {
    text-align: left;
    padding-block: 4.5rem;
  }

  .hero-section__content {
    align-items: flex-start;
  }

  .hero-section p:first-of-type {
    font-size: var(--fs-600);
    margin-block: 1.5rem 2.5rem;
  }

  .hero-section__image {
    margin-top: -9rem;
  }
}

/* VIDEO SECTION */

.video-section {
  padding-top: 4rem;
}

.video-section__content {
  flex-direction: column;
  align-items: center;
}

.video-section .secondary-heading {
  text-align: center;
  max-width: 27ch;
}

.video-section__video {
  margin-block: 2.5rem;
}

@media (max-width: 450px) {
  .video-section button {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .video-section {
    padding-top: 6rem;
  }

  .video-section__video {
    margin-block: 2.75rem 4rem;
  }
}

/* TESTIMONIALS SECTION */

.testimonials-section {
  padding-bottom: 4rem;
}

@media (min-width: 1000px) {
  .testimonials-section {
    padding-bottom: 6rem;
  }
}

.arrow-icon {
  display: inline-flex;
  width: 1rem;
  aspect-ratio: 1;
}
/* UTILITY CLASSES */

.container {
  width: min(1248px, 100% - (1rem * 2));
  margin-inline: auto;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

/* DIVIDERS */

.divider-wrapper {
  background-color: var(--clr-neutral-900);
  padding-block: 4rem;
}

.divider {
  width: 100%;
  height: 1px;
}

.divider[data-type='dark'] {
  background-color: var(--clr-divider-dark);
}

.divider[data-type='light'] {
  background-color: var(--clr-divider-light);
}

@media (min-width: 1000px) {
  .divider-wrapper {
    padding-block: 6rem;
  }
}

/* Buttons */

.btn {
  border: none;
  cursor: pointer;
}

.primary-btn {
  font-size: var(--fs-button);
  color: var(--clr-neutral-100);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.primary-btn-sm {
  border-radius: 0.5rem;
  color: var(--clr-neutral-100);
  padding: 0.75rem 1.25rem;
}

.primary-btn:hover,
.primary-btn-sm:hover {
  background-color: var(--clr-primary-500);
}

.secondary-btn {
  font-size: var(--fs-button);
  background-color: var(--clr-neutral-200);
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.secondary-btn-sm {
  background-color: var(--clr-neutral-200);
  border-radius: 0.75rem;
  padding: 0.75rem 1.5rem;
}

/* Backgrounds */

.bg-light {
  background-color: var(--clr-neutral-100);
}

.bg-dark {
  background-color: var(--clr-neutral-900);
}

.bg-blue {
  background-color: var(--clr-primary-400);
}

.secondary-heading {
  font-size: var(--fs-800);
}

.secondary-heading[data-clr='white'] {
  color: var(--clr-neutral-100);
  line-height: 1.1;
  font-weight: var(--fw-regular);
}
